.newExpenseControls{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    padding: 10px;
}
.newExpenseControl label{
    font-weight: bold;
    margin-bottom: 5px;
    margin-left:4px;
    display: block;
}
.newExpenseControl input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width:100%;
}
.newExpenseActions{
    text-align: right;
}
.newExpense{
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0,0, 0.25);
}
.newExpense button{
    font:inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;

}
.newExpense button:hover,
.newExpense button:active{
    background-color: #510674;
    border-color: #510674;
}
.newExpense button.alternative{
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}
.newExpense button.alternative:hover,
.newExpense button.alternative:active{
    background-color: #ddb3fB;
}